.wd-assignments ul li { 
    border-left: 5px solid green;
    font-weight: bold;
    color: black;
}

.wd-assignments .list-group { 
    border-radius: 0;
}

.wd-assignments ul li.list-group-item-secondary {
    border: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.wd-assignments .wd-larger-text {
    font-size: 1.3em;
    font-weight: bold;
}

.wd-assignments a.wd-assignment-title {
    color: black;
}

.wd-assignments .list-group-item-secondary {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 50px;
}

.wd-assignments h3 {
    padding-left: 10px;
    padding-right: 10px;
}
.wd-assignments p {
    padding-left: 10px;
    padding-right: 10px;
}

.wd-assignments h6 {
    font-weight: bold;
    padding-left: 10px;
}

.wd-assignments.ul {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

.wd-assignments ul a { 
    border-left: 5px solid green;
    color: black;
}

.wd-assignments-editor span.wd-published {
    color: green;
    font-weight: bold;
    vertical-align: middle;
}

.wd-assignments-editor span.wd-bold {
    font-weight: bold;
}

.wd-assignments-editor * {
    max-width: 100%;
}